h1 {
  text-align: center;
}
td {
  width: 100px;
  height: 100px;
}
table {
  margin: 5px auto;
}
.vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.square {
  background: #fff;
  border: 0px;
  margin-left: 26px;
  font-size: 70px;
  font-weight: bold;
  line-height: 34px;
  height: 70px;
  margin-right: 24px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}
